BASE_URL=changeme
TICKET_BASE_URL = changeme
TICKET_USERNAME = 
TICKET_PASSWORD =
APP_USERNAME=
APP_PASSWORD=
API_USERNAME=
API_PASSWORD=
BROWSER=
HEADLESS=
SCREENSHOT_ON_FAILURE=
LOG_LEVEL=
VIDEO_RECORDING=
PROJECT=
CUSTOMER=
