# Dummy Trio environment values
BASE_URL=https://your-trio-app-url.com
DASHBOARD_URL=https://your-trio-app-url.com/device-dashboard-page
APP_USERNAME=your_username
APP_PASSWORD=your_password
API_USERNAME=your_api_username
API_PASSWORD=your_api_password
BROWSER=chromium
HEADLESS=true
SCREENSHOT_ON_FAILURE=true
LOG_LEVEL=INFO
VIDEO_RECORDING=false
